body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
}

img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(34, 60, 80, 0.2); /* Цвет и прозрачность затемненной части */
    color: white; /* Цвет текста на затемненной части */
    padding: 20px; /* Отступы внутри затемненной части */
    box-sizing: border-box;
}