body{
    margin: 0;
}

@media (max-width: 445px){

    .headerPage{
        position: relative;
    }

    .arrow-back-page{
        border: none;
        background-color: transparent;
        position: absolute;
        background-image: url("../static/images/icons/arrowLeftIcon.png");
        background-size: 35px 35px;
        padding: 0;
        width: 35px;
        height: 25px;
    }

    .main-image-place{
        width: 100%;
        height: 250px;
        border-radius: 1% 1% 15% 1%;
        box-shadow: 0px -100px 69px -63px rgba(44, 57, 67, 0.6) inset;
    }

    .name-place{
        font-size: 24px;
        color: #fff;
        margin: 0 0 0 15px;
        top: 145px;
        position: absolute;
        z-index: 1;
    }

    .street-name-place{
        font-size: 18px;
        font-weight: 250px;
        color: #eeeeee;
        margin: 0 0 0 40px;
        top: 210px;
        position: absolute;
        z-index: 1;
    }

    .street-name-place::before{
        content: '';
        display: flex;
        position: absolute;
        background-image: url("../static/images/icons/markerLocationIcon.png");
        background-repeat: no-repeat;
        bottom: 4px;
        left: -25px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }

    .button-heart{
        border: none;
        background-image: url("../static/images/icons/heartIconGrey.png");
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin: 10px 0 0 30px;
        position: absolute;
        background-size: cover;
        top: 175px;
        right: 20px;
        padding: 0;
    }

    .button-heart-changed{
        border: none;
        background-image: url("../static/images/icons/heartIconFull.png");
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin: 10px 0 0 30px;
        position: absolute;
        background-size: cover;
        top: 175px;
        right: 20px;
        padding: 0;
    }

    .list-buttons-changer{
        gap: 10px;
        padding-left: 150px;
        display: flex;
        position: relative;
        align-items: center;
        justify-items: center;
    }

    .item-button-changer{
        width: 130px;
        height: 50px;
    }

    .button-with-information{
        border: none;
        width: 120px;
        height: 50px;
        color: #141B41;
        font-size: 18px;
        font-weight: 500;
        padding: 0;
        background-color: transparent;
    }

    .button-with-information-changed{
        border: none;
        background-color: transparent;
        width: 120px;
        height: 50px;
        color: #72727E;
        font-size: 18px;
        font-weight: 500;
        opacity: 0.5;
    }

    .button-with-information::after{
        content: "";
        border-radius: 30px;
        background-image: url("../static/images/icons/lineIcon.png");
        background-size: 30px 20px;
        width: 30px;
        height: 20px;
        top: 40px;
        left: 195px;
        left: 195px;
        background-repeat: no-repeat;
        display: flex;
        position: absolute;
    }

    .button-with-images{
        border: none;
        background-color: transparent;
        width: 120px;
        height: 50px;
        color: #72727E;
        font-size: 18px;
        font-weight: 500;
        padding: 0;
        opacity: 0.5;
    }

    .button-with-images-changed{
        border: none;
        width: 120px;
        height: 50px;
        color: #141B41;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
    }

    .button-with-images::after{
        content: "";
        border-radius: 30px;
        background-image: url("../static/images/icons/lineIcon.png");
        background-size: 30px 20px;
        width: 30px;
        height: 20px;
        top: 40px;
        left: 282px;
        background-repeat: no-repeat;
        display: none;
        position: absolute;
    }

    .list-stars{
        display: flex;
        gap: 5px;
        padding-left: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .star-icon-item{
        width: 20px;
        height: 20px;
    }

    .score-count-label{
        margin: 2px 0 0 20px;
        color: #141B41;
        font-weight: 500;
    }

    .views-count-label{
        margin: 3px 0 0 0;
        color: #72727E;
        font-size: 14px;
        font-weight: 500;
        opacity: 0.5;
    }

    .main-information-about-place{
        text-align: justify;
        font-size: 14px;
        color: #141B41;
        font-weight: 500;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        overflow-y: scroll;
        bottom: 0;
        text-indent: 15px;
        overflow-y: scroll;
    }
}

@media (max-width: 375px){

    .headerPage{
        position: relative;
    }

    .arrow-back-page{
        border: none;
        background-color: transparent;
        position: absolute;
        background-image: url("../static/images/icons/arrowLeftIcon.png");
        background-size: 35px 35px;
        padding: 0;
        width: 35px;
        height: 25px;
    }

    .main-image-place{
        width: 100%;
        height: 220px;
        border-radius: 1% 1% 15% 1%;
        box-shadow: 0px -100px 69px -63px rgba(44, 57, 67, 0.6) inset;
    }

    .name-place{
        font-size: 22px;
        color: #fff;
        margin: 0 0 0 15px;
        top: 115px;
        position: absolute;
        z-index: 1;
    }

    .street-name-place{
        font-size: 16px;
        font-weight: 250px;
        color: #eeeeee;
        margin: 0 0 0 40px;
        top: 175px;
        position: absolute;
        z-index: 1;
    }

    .street-name-place::before{
        content: '';
        display: flex;
        position: absolute;
        background-image: url("../static/images/icons/markerLocationIcon.png");
        background-repeat: no-repeat;
        bottom: 4px;
        left: -20px;
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
    }

    .button-heart{
        border: none;
        background-image: url("../static/images/icons/heartIconGrey.png");
        background-color: transparent;
        width: 25px;
        height: 25px;
        margin: 10px 0 0 30px;
        position: absolute;
        background-size: cover;
        top: 140px;
        right: 20px;
        padding: 0;
    }

    .list-buttons-changer{
        gap: 10px;
        padding-left: 220px;
        display: flex;
        position: relative;
        align-items: center;
        justify-items: center;
    }

    .item-button-changer{
        width: 130px;
        height: 50px;
        align-items: center;
    }

    .button-with-information{
        border: none;
        width: 100px;
        height: 50px;
        color: #141B41;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        background-color: transparent;
    }

    .button-with-information-changed{
        border: none;
        background-color: transparent;
        width: 100px;
        height: 50px;
        color: #72727E;
        font-size: 16px;
        font-weight: 500;
        opacity: 0.5;
    }

    .button-with-information::after{
        content: "";
        border-radius: 30px;
        background-image: url("../static/images/icons/lineIcon.png");
        background-size: 30px 20px;
        width: 30px;
        height: 20px;
        top: 40px;
        left: 40px;
        background-repeat: no-repeat;
        display: flex;
        position: absolute;
    }

    .button-with-images{
        border: none;
        background-color: transparent;
        width: 100px;
        height: 50px;
        color: #72727E;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        opacity: 0.5;
    }

    .button-with-images-changed{
        border: none;
        width: 120px;
        height: 50px;
        color: #141B41;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
    }

    .button-with-images::after{
        content: "";
        border-radius: 30px;
        background-image: url("../static/images/icons/lineIcon.png");
        background-size: 30px 20px;
        width: 30px;
        height: 20px;
        top: 40px;
        left: 282px;
        background-repeat: no-repeat;
        display: none;
        position: absolute;
    }

    .list-stars{
        display: flex;
        gap: 5px;
        padding-left: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .star-icon-item{
        width: 20px;
        height: 20px;
    }

    .score-count-label{
        margin: 2px 0 0 20px;
        color: #141B41;
        font-size: 14px;
        font-weight: 500;
    }

    .views-count-label{
        margin: 3px 0 0 0;
        color: #72727E;
        font-size: 14px;
        font-weight: 500;
        opacity: 0.5;
    }

    .main-information-about-place{
        text-align: justify;
        font-size: 12px;
        font-weight: 500;
        color: #141B41;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        overflow-y: scroll;
        bottom: 0;
        text-indent: 15px;
    }
}