body{
    font-family: "Fira Mono", monospace;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

@media (max-width: 425px) {
    .mainPage{
        margin: 0 10px;
    }

    .namePage{
        width: 300px;
        font-size: 1.125rem;
        font-weight: 400;
        margin-top: 70px;
        margin-bottom: 30px;
        color: #141B41;
    }

    form{
        display: flex;
        margin-bottom: 27px;
        margin-top: 0;
    }

    input{
        width: 325px;
        height: 40px;
        color: #cccccc;
        padding-left: 20px;
        font-size: 14px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
    }

    .search-place-button{
        margin-left: 25px;
        padding: 0;
        border: transparent;
        background-color: transparent;
    }

    .label-section-categories{
        margin-top: 0;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
        color: #141B41;
    }

    .categories{
        padding-left: 0;
        justify-items: center;
        display: flex;
        overflow-x: scroll;
        margin-top: 0;
        margin-bottom: 27px;
    }

    .category-item{
        width: 100px;
        padding-left: 10px;
        color: #141B41;
        font-size: 14px;
        text-align: center;
        font-weight: 350;
        display: grid;
        row-gap: 15px;
        justify-items: center;
    }

    .icon-category{
        width: 40px;
        height: 40px;
        border: 5px solid #F7F8FD;
        border-radius: 6px;
        background-color: #F7F8FD;
    }

    .hot-places{
        position: relative;
    }

    .name-hot-places{
        margin-top: 0;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
        color: #141B41;
    }

    .text-see-all-places{
        margin-top: 0;
        top: 5px;
        right: 0;
        position: absolute;
        color: #cccccc;
    }

    .hot-places-list{
        padding: 0;
        overflow-x: scroll;
        justify-items: center;
        display: flex;
    }

    .hot-places-item{

    }

    .image-place{
        width: 295px;
        height: 180px;
        border-radius: 18px;
    }

    .text-name-place{
        color: black;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .footer-main-page{
        position: fixed;
        bottom: 0;
        background-color: white;
    }


    .footer-list{
        gap: 30px;
        padding: 0;
        width: 390px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    .footer-list-item{
        padding: 0 10px;
        width: 25px;
    }

    .home-icon{
        padding-left: 5px;
    }

    .footer-icon{
        width: 25px;
    }
}