body, h1, h2, h3, h4, p, button{
    font-family: "Fira Mono", monospace;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    object-fit: cover;
}

button input[type="submit"]{
    cursor: pointer;
    box-shadow: none;
    display: inline-block;
    border-color: transparent;
}

.mainPage{
    margin: 0 10px;
    overflow-y: scroll;
}