@media (max-width: 425px) {
    .header-search-page{
        margin-bottom: 20px;
    }

    .nameSearchPage{
        font-size: 24px;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        color: #141B41;
    }

    .image-user{
        width: 40px;
        display: flex;
        position: absolute;
        left: 10px;
        top: 15px;
    }

    .notifications-icon{
        width: 25px;
        display: flex;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    form{
        display: flex;
        justify-content: center;
        margin-bottom: 27px;
        margin-top: 0;
    }

    input{
        width: 300px;
        height: 40px;
        color: #B6B4B4;
        padding-left: 20px;
        margin-left: 10px;
        font-size: 14px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
    }

    .search-place-button{
        margin-left: 25px;
        padding: 0;
        border: transparent;
        background-color: transparent;
    }

    .categories-chapter{
        margin-top: 0;
        margin-bottom: 30px;
    }

    .label-text-categories{
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
        color: #141B41;
        font-weight: 500;
    }

    .categories-list-items{
        margin-top: 0;
        padding-left: 15px;
        gap: 10px;
        display: flex;
        overflow-x: scroll;
    }

    .categories-item{
        padding: 0;
        border-radius: 15px;
        margin-right: 10px;
        margin-bottom: 15px;
        /*background-color: cornflowerblue;*/
        background-color: #ffffff;
        display: grid;
        border-color: transparent;
        box-shadow: 0 3px 5px 2px rgba(34, 60, 80, 0.1);
    }

    .hotel-button-filter{
        width: 110px;
    }

    .entertainment-button-filter{
        width: 150px;
    }

    .activity-button-filter{
        width: 150px;
    }

    .malls-button-filter{
        width: 190px;
    }

    .text-category{
        text-align: right;
        position: relative;
        color: #72727E;
        padding-right: 12px;
        font-size: 14px;
        font-weight: 400;
    }

    .text-category::before{
        content: "";
        position: absolute;
        background-attachment: scroll;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        bottom: -5px;
        left: 10px;
    }

    .hotel-text-button::before{
        background-image: url("../static/images/hotelIconGrey.png");
    }

    .entertainment-text-button::before{
        background-image: url("../static/images/entartainmentIcon_2_Grey.png");
    }

    .activity-text-button::before{
        background-image: url("../static/images/activityIconGrey.png");
    }

    .malls-text-button::before{
        background-image: url("../static/images/mallsIconGrey.png");
    }


    .hotel-new-icon::before{
        background-image: url("../static/images/hotelIconWhite.png");
    }

    .entertainment-new-icon::before{
        background-image: url("../static/images/entartainmentIcon_2_White.png");
    }

    .activity-new-icon::before{
        background-image: url("../static/images/activityIconWhite.png");
    }

    .malls-new-icon::before{
        background-image: url("../static/images/mallsIconWhite.png");
    }

    .all-places-searched{
        margin-top: 0;
    }

    .all-places-list{
        margin: auto;
        display: table;
        padding-left: 0;
    }

    .searched-place-item{
        width: 325px;
        height: 122px;
        padding: 10px;
        border-radius: 15px;
        background-color: #F7F8FD;
    }

    .items-image-places{
        width: 122px;
        height: 102px;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 10px;
    }

    .footer-main-page{
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
    }

    .footer-list{
        gap: 40px;
        padding: 0;
        width: 390px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    .footer-list-item{
        padding: 0 10px;
        width: 25px;
    }

    .footer-button{
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .home-icon{
        padding-left: 5px;
    }

    .footer-icon{
        width: 25px;
    }
}

@media (max-width: 375px){
    .namePage{
        width: 300px;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .image-user{
        width: 35px;
    }

    form{
        margin-bottom: 30px;
        margin-top: 0;
    }

    input{
        width: 325px;
        height: 40px;
        padding-left: 20px;
        font-size: 14px;
    }

    .search-place-button{
        margin-left: 20px;
        padding: 0;
    }

    .footer-main-page{
        bottom: 0;
    }


    .footer-list{
        gap: 35px;
        padding: 0;
        width: 340px;
        height: 48px;
    }

    .footer-list-item{
        padding: 0 10px;
        width: 25px;
    }

    .home-icon{
        padding-left: 5px;
    }

    .footer-icon{
        width: 25px;
    }
}

@media (max-width: 320px) {
    .namePage{
        width: 250px;
        font-size: 14px;
        margin-top: 45px;
        margin-bottom: 30px;
    }


    .image-user{
        width: 30px;
    }

    .footer-list{
        gap: 30px;
        width: 290px;
        height: 48px;
    }

    .footer-list-item{
        padding: 0 10px;
        width: 20px;
    }

    .home-icon{
        padding-left: 5px;
    }

    .footer-icon{
        width: 20px;
    }
}